
<div class="tree-nodes">
  <div class="tree-nodes__card">
    @if (treeNode().children.length){
      <button class="tree-nodes__toggle-button"
              (click)="toggleCurrentNode()">
        {{ (_isExpanded() || _isExpandedAll()) ? '▲' : '▼' }}
      </button>
    }
    <tree-node-card
      [treeNode]="treeNode()"
      [isExpanded]="isInitiallyExpanded()"

      (buttonAction)="buttonAction()"
      [childrenCount]="childrenCount()"
    >
    </tree-node-card>
  </div>

  @if (treeNode().children && (_isExpandedAll() || _isExpanded() )) {
    @for (child of treeNode().children; track child.id) {
      <div class="tree-nodes__child">
        <tree-node
          [isInitiallyExpandedAll]="_isExpandedAll()"
          [isInitiallyExpanded]="isInitiallyExpanded()"
          [treeNode]="child">
        </tree-node>
      </div>
    }
  }
</div>
